OPENAI_API_KEY=your_api_key
OPENAI_EMBEDDING_MODEL=text-embedding-3-large
POSTGRES_CONNECTION_STRING=postgresql+psycopg://rag_user:rag_password@localhost:5432/rag_db
PGVECTOR_COLLECTION_NAME=returns_policy_pl
